// Material Icons font faces
$font-path: "/fonts/material-icons";

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("#{$font-path}/material-icons.woff2") format("woff2");
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("#{$font-path}/material-icons-outlined.woff2") format("woff2");
}

@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("#{$font-path}/material-icons-round.woff2") format("woff2");
}

@font-face {
  font-family: "Material Icons Sharp";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("#{$font-path}/material-icons-sharp.woff2") format("woff2");
}

@font-face {
  font-family: "Material Icons Two Tone";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("#{$font-path}/material-icons-two-tone.woff2") format("woff2");
}
